PORT=8080
APP_ENV=local

BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=
BLUEPRINT_DB_USERNAME=
BLUEPRINT_DB_PASSWORD=
BLUEPRINT_DB_SCHEMA=public
BLUEPRINT_DB_TIME_ZONE=Asia/Jakarta

JWT_SECRET=
JWT_EXP=10 //in minutes